.navbar {
  display: flex;
  background-color: var(--clr-bg-navbar);
  color: var(--text-color-1);
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 3rem;
}

.navbar--sidenav-open {
  justify-content: right;
}

/* @media screen and (max-width: 500px) {
  .navbar {
    justify-content: right;
  }
} */
